<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="stdOut" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="asyncStdOut" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="stdOut" />
	</appender>
	
	<logger name="org.eclipse.jetty.webapp.WebAppClassLoader" level="INFO"/>
	<logger name="org.apache.commons.digester" level="INFO"/>

	<root level="INFO">
		<appender-ref ref="asyncStdOut" />
	</root>
</configuration>
