<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Prototype</title>
	<link rel="stylesheet" href="/css/cerulean/bootstrap.min.css" media="screen"/>
	<script data-main="/js/main" src="/js/requireJs-2.1.10.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- layout.html -->
</head>
<body>
	{% include "templates/common/header.html" %}
	
	{% block content %} This content will be overriden by child templates {% endblock %}
    
    {% include "templates/common/footer.html" %}
</body>
</html>